<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.repositories.appnotice.AppNoticeMapper">

    <select id="getAppNoticeList" resultType="AppNotice">
            SELECT N.id, N.category, N.title,
            <foreach collection="list" item="item" separator=",">
                (SELECT notice_top_allowed FROM app_notice_device AS D WHERE D.type=#{item} AND D.notice_id=N.id) AS #{item}
            </foreach>
            FROM app_notice AS N
            ORDER BY N.id DESC
    </select>

    <select id="getAppNoticeDeviceExists" resultType="AppNoticeDeviceExists">
        SELECT
        <foreach collection="noticeName" item="item" separator=",">
            (SELECT EXISTS (SELECT * FROM app_notice_device AS D WHERE D.type=#{item} AND D.notice_id=N.id)) AS #{item}
        </foreach>
        FROM app_notice AS N
        WHERE N.id=#{id}
    </select>



    <insert id="setAppNotice" parameterType="AppNotice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO app_notice
        SET title = #{title},
        content = #{content},
        reserve_at = #{reserveAt},
        category = #{category}
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="setAppNoticeDevice" parameterType="java.util.Map">
        INSERT INTO app_notice_device
        (notice_id, type, notice_top_allowed, popup_allowed, create_at)
        values
        <foreach collection="list" item="item" separator=" , ">
            (#{item.noticeId}, #{item.type}, #{item.noticeTopAllowed}, #{item.popupAllowed}, NOW())
        </foreach>
    </insert>

</mapper>