<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.repositories.point.PointMapper">
    <select id="getSumPoint" resultType="long">
        SELECT SUM(point) FROM point WHERE member_no = #{memberNo}
    </select>
</mapper>