<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.repositories.member.MemberMapper">
    <select id="selectById" resultType="Member">
        SELECT *
        FROM member
        WHERE member_no = #{no}
    </select>

    <update id="updateMemberPoint" parameterType="int">
        UPDATE member
        SET point = (SELECT SUM(point) FROM point WHERE member_no=${memberNo})
        WHERE member_no=${memberNo}
    </update>
</mapper>