<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.repositories.board.BoardMapper">

   <!-- <resultMap type="com.example.api.repositories.BoardList" id="BoardListMap">
        <result property="id" column="id"/>
        <result property="num" column="num"/>
        <result property="reply" column="reply"/>
        <result property="parent" column="parent"/>
        <result property="isComment" column="is_comment"/>
        <result property="comment" column="comment"/>
        <result property="commentReply" column="comment_reply"/>
        <result property="subject" column="subject"/>
        <result property="content" column="content"/>
        <result property="hit" column="hit"/>
        <result property="password" column="password"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="createBy" column="cregetBoardListate_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="ip" column="ip"/>
        <result property="isPhoto" column="is_photo"/>
        <association property='isBest' resultMap='is_best'/>
        <association property='device' resultMap='device'/>
    </resultMap>-->

    <select id="getBoard" resultType="Board">
            SELECT * FROM board WHERE board_id = #{boardId}
    </select>

    <select id="getBoardList" resultType="BoardList">
            SELECT * FROM board_${boardId}
    </select>

    <select id="getOneBoard" resultType="BoardList">
            SELECT * FROM board_${boardId} WHERE id = #{id}
    </select>


    <update id="setHitBoard" parameterType="int">
        UPDATE board_${boardId}
        SET
        hit = hit+1
        WHERE id = #{id}
    </update>

    <select id="getBoardLimitWriteCount" resultType="int">
            SELECT COUNT(*) FROM board_${boardId} WHERE  create_at > date_format(curdate(), '%Y-%m-%d %H:%i:%s' )
    </select>

    <insert id="setBoard" parameterType="BoardList">
        INSERT INTO board_${boardId}(
        num, is_comment, subject, content, create_at, ip
        ) SELECT (SELECT IFNULL(MIN(num), 0)-1 FROM board_${boardId}), 0, #{subject}, #{content}, NOW(), #{ip}
    <selectKey resultType="int" keyProperty="id" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>
    </insert>

    <update id="updateBoardParentId" parameterType="int">
        UPDATE board_${boardId}
        SET
        parent = #{id}
        WHERE id = #{id} AND parent = 0 AND is_comment = 0
    </update>

    <update id="updateBoard" parameterType="BoardList">
        UPDATE board_${boardId}
        SET
        <if test="subject != null">subject = #{subject},</if>
        <if test="content != null">content = #{content},</if>
        <if test="ip != null">ip = #{ip},</if>
        update_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="delBoard">
        DELETE
        FROM board_${boardId}
        WHERE id = #{postId}
    </delete>

    <insert id="setBoardComment" parameterType="BoardList">
        INSERT INTO board_${boardId}
        SET num = (SELECT C.num FROM board_${boardId} AS C WHERE C.id=#{id}),
        parent = #{id},
        is_comment = 1,
        content = #{content},
        create_at = NOW(),
        ip = #{ip}
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>




</mapper>